#toia

.venv

.DS_Store
churn-dataset-a-entrenar.csv
churn-dataset-a-predecir.csv
churn-diccionario-de-variables.csv
Entregable-Machine-Learning-contexto.pptx
nivel_educativo_entrenar.csv
nivel_educativo_predecir.csv
multiclases_nivel_educativo_de_los_padres.ipynb


#Jose 

Entregable Machine Learning - contexto.pptx
churn - dataset a entrenar.csv
churn - dataset a predecir.csv
churn - diccionario de variables.csv